#holder {
    width: 100%;
    height: 100%;
}

#subtitle-container {
    width: auto;
    height: 200px;
}

#subtitle-list {
    width: auto;
    height: 200px;
    overflow-y: scroll;
    list-style-type:none;
}

#subtitle-list>li{
    height:30px;
}

span.current-title{
    font-weight: bold;
    font-size: 24px;
}
button.replay{
    float:right;
}